@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">bem vindo ao projeto AV1, @Model.Nome</h1>
    <p>Esse é meu primeiro site em MVC</p>
    <span>Seu e-mail é: @Model.Email</span>
</div>
